<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
   <title>Users</title>
   <link type="text/css" rel="stylesheet" href="../htdocs/lib/bootstrap-4.1.0-dist/css/bootstrap.min.css">
   <script src="../htdocs/lib/bootstrap-4.1.0-dist/js/bootstrap.min.js"></script>
</head>

<body background="#000">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="user.cgi?rm=list_users">List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="user.cgi?rm=display_user_form">New</a>
  </li>
</ul>

 [% INCLUDE $content_page  %]

</body>
</html>
