<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="user.cgi?rm=list_users">List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="user.cgi?rm=display_user_form">New</a>
  </li>
</ul>
