<div class="container">
<br><br>
<form action="" method="post">
 [% IF message %]
  <div class="alert alert-primary" role="alert">
  [% message %] 
  </div>
 [% END %] 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="user_firstname">First Name</label>
      <input type="text" class="form-control" name="user_firstname" id="user_firstname" value="[% user_firstname %]">
    </div>
    <div class="form-group col-md-6">
      <label for="user_lastname">Last Name</label>
      <input type="text" class="form-control" name="user_lastname" id="user_lastname" value="[% user_lastname %]">
    </div>
  </div>
  <div class="form-group">
    <label for="user_address">Address</label>
    <input type="text" class="form-control" name="user_address" id="user_address" value="[% user_address %]">
  </div>
  <div class="form-group">
    <label for="user_birthdate">Birthdate</label>
    <input type="date" class="form-control" name="user_birthdate" id="user_birthdate" value="[% user_birthdate %]">
  </div>
<button type="submit" value="Save" class="btn btn-primary">Save</button>
  <input type="Hidden" name="user_id" value="[% user_id %]">
  <input type="Hidden" name="rm" value="maintain_user">
</form>
</div>
